/*________________________________________*/
/*about*/

.container {
  height: 575px;
  display: block;
  background: url('../images/grandcanyon.jpg') no-repeat center center fixed;
  background-size: cover;
  /*justify-content: center;*/
  align-items: center;
}

.logo {
  margin-left: 20px;
  letter-spacing: 3px;
}

h2 {
  letter-spacing: 5px;
  font-family: 'Lobster', cursive;
}


/*________________________________________*/
/*Skills*/

.bio-pic {
  height: 300px;
  width: 275px;
}

.skills {
  background-color: #1A1A1A;
  color: #eeeeee;
  line-height: 1.5;
  text-align: center;
  padding: 50px;
  margin: auto;
}

.skills h2 {
  font-family: 'Lobster', cursive;
  letter-spacing: 5px;
  color: teal;
  font-size: 250%;
}

.skills h3 {
  font-family: 'Dosis', sans-serif;
  font-size: 1.75em;
  margin: auto;
  padding: 30px 30px 20px 30px;
  /*line-height: 2.5;*/
  color: maroon;
}

h3.languages {
  padding: 30px 30px 0 30px;
}

.skills p {
  margin: auto;
  padding: 0px 30px 30px 30px;
}



/*____________________*/
/*Objectives*/

.intention {
  color: #eeeeee;
  line-height: 1.5;
  text-align: center;
  padding: 60px;
  margin: auto;
  background-color: teal;
}

.intention h2 {
  font-family: 'Lobster', cursive;
  color: #1A1A1A;
  font-size: 250%;
}

.intention h3 {
  font-family: 'Dosis', sans-serif;
  font-size: 1.75em;
  margin: auto;
  padding: 30px;
  line-height: 2.5;
  color: maroon;
}

.intention p {
  margin: auto;
  padding: 0px 30px 30px 30px;
  max-width: 770px;
  display: block;
}

.focus h3 {
  font-family: 'Dosis', sans-serif;
  margin: auto;
  padding: 30px;
  line-height: 2.5;
  color: yellow;
}

/*___________________________________*/
/*strengths*/


.strengths {
  font-family: 'Open Sans', sans-serif;
  color: white;
  line-height: 1.5;
  text-align: center;
  font-size: 18px;
  padding: 30px;
  margin: 0 0 30px 0;
  background-color: maroon;
}

.hyperlink {
  color: #ffffff;
  text-decoration: none;
}

.hyperlink:hover {
  color: #D32F2F;
}

.strengths h2 {
  font-family: 'Lobster', cursive;
  color: teal;
  font-size: 250%;
  margin: 10px auto;
}

.strengths p {
  padding: 30px 0;
}


#restorative {
  margin-bottom: 30px;
}

/*___________________________________*/
/*mini-bio*/

.hobbies {
  font-family: 'Open Sans', sans-serif;
  color: white;
  line-height: 1.5;
  text-align: center;
  font-size: 18px;
  padding: 30px;
  background-color: #ffa100;
}

.hobbies h2 {
  font-family: 'Lobster', cursive;
  color: maroon;
  font-size: 250%;
  margin: 30px auto;
}

.hobbies p {
  padding: 30px 0;
}


/*______________________*/

@media (max-width: 1030px) {
  .container {
    max-width: 1030px;
  }
  #tagline {
    font-size: 50px;
  }
  .mini-bio {
    font-size: 18px;
    padding: 60px;
    margin: 0px 0 30px 0;
  }
  .intention {
    padding: 60px 30px;
  }
  .focus h3 {
    padding: 20px;
  }
}
/*__________________*/

@media (max-width: 870px) {
  .container {
    max-width: 870px;
  }
  #tagline {
    font-size: 40px;
  }
  .mini-bio {
    padding: 60px;
    margin: 0px 0 30px 0;
  }
  .intention {
    padding: 60px 20px;
  }
  .intention p {
    padding: 0px 10px 30px 10px;
  }
  .mini-bio {
    padding: 20px;
  }
  .focus h3 {
    padding: 10px;
  }
/*_________________*/

  .strengths h3 {
    padding: 60px 0 0 20px;
  }
  .strengths p {
    display: block;
    max-height: 150px;
    padding: 0 20px 40px 20px;
    margin: 20px auto;
    justify-content: center;
  }
}

@media (max-width: 770px) {
  .container {
    max-width: 770px;
  }
  #tagline {
    font-size: 40px;
  }
  .strengths article {
    display: block;
    margin: auto;
    justify-content: center;
    align-items: flex;
    position: center;
  }
  .strengths img {
    display: block;
    margin: auto;
    padding: 0px 0 0px 0;
    margin: auto;
  }
  .strengths h3 {
    padding: 0px 0 0 0px;
    display: block;
    margin: auto;
  }
  .strengths p {
    display: block;
    max-height: 150px;
    padding: 0 0px 0px 0;
    margin: 20px auto 40px auto;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .container {
    display: inherit;
    background: url('../images/grandcanyon.jpg') no-repeat center center fixed;
    background-size: cover;
    max-width: 600px;
  }
  #tagline {
    font-size: 30px;
    /*margin: 30px 0 0 30px;*/
    padding: 0;
    display: block;
  }

@media (max-width: 570px) {
  .mini-bio {
    font-size: 14px;
  }
  .container {
    max-width: 570px;
  }
  #tagline {
    font-size: 30px;
  }
  .intention {
    padding: 60px 10px;
  }
  .strengths h3 {
    margin: 0 auto;
    padding: 0px 0 0 0px;
  }
  .strengths img {
    padding: 0px 0 10px 0;
    width: 95;
    height: 105;
  }
  h3.languages {
    font-size: 1.5em;
    padding: 30px 0 0 0;
  }
  .container {
    max-width: 550px;
  }
  .strengths p {
    font-size: 12px;
    margin: auto 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
  }
  p.short-term, p.long-term, p.focus {
    font-size: 12px;
  }
  section.intention, section.skills {
    padding: 15px;
  }
  p {
    font-size: 12px;
  }
}

@media (max-width: 570px) {
  .strengths img {
    width: 80;
    height: 90;
  }
  .strengths p {
    margin: 0 15px 20px 15px;
  }
}
