
header {
  font-family: 'Lobster', cursive;
  padding: 19px;
  background-color: #1A1A1A;
  height: 15%;
}

header a {
  text-decoration: none;
  list-style-type: none;
  color: #eeeeee;
  padding: 3px;
  font-size: 110%;
}

.logo {
  font-family: 'Lobster', cursive;
  letter-spacing: 2px;
}

h1 {
  display: inline-block;
  text-indent: -9999px;
  width: 10px;
  margin: 10px;
  /*padding: 21.5px;*/
}

nav {
  float: right;
  margin-top: -12px;
}

li {
  display: inline-block;
  padding: 20px;
}

.projects:hover {
  color: #faff00;
}

.about:hover {
  color: #ad00ff;
}

.resume:hover {
  color: #00B0EB;
}

.connect:hover {
  color: #36F5AF;
}

@media (max-width: 650px) {

  header {
    padding: 10px;
    height: auto;
  }

  li {
    display: block;
  }

  .logo {
    visibility: hidden;
  }
}

@media (max-width: 500px) {

  header {
    padding: 10px;
    height: 150px;
  }

  li {
    display: block;
  }
}

@media (max-width: 500px) {

  header {
    padding: 10px;
    height: 150px;
  }

  li {
    display: block;
  }

  .logo {
    visibility: hidden;
  }
}
